<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Modyfikuj film
        script(src='/javascripts/dynamicOscars.js')
    body
        div(style='display: inline-block')
            img#preview(width='500px' alt='Podglad plakatu' src='' style='display: inline-block; position: absolute')
            form(action=`/moviecollection/editMovie/${movie.$.numer_filmu}` method='post' style='width: 50vw; display: inline-block; position: absolute; left:20vw')
                label(for='gatunek') Wybierz gatunek:
                br
                select(name='idRef' id='gatunek')
                    each genre in genres
                        if genre.$.id == movie.$.idRef
                            option(value=genre.$.id selected)= genre._
                        else
                            option(value=genre.$.id)= genre._
                label(for='plakat_url') Link do plakatu:
                br
                input#plakat_url(type='text' name='plakat' value=`${movie.plakat}`)
                br
                label(for='tytul_filmu') Tytuł filmu:
                br
                input#tytul_filmu(type='text' name='tytul' value=`${movie.informacje_o_filmie.tytul}`)
                br
                label(for='org_tytul_filmu') Oryginalny tytuł filmu:
                br
                input#org_tytul_filmu(type='text' name='org_tytul' value=`${movie.informacje_o_filmie.org_tytul}`)
                br
                label(for='rezyser_filmu') Reżyser:
                br
                input#rezyser_filmu(type='text' name='rezyser' value=`${movie.informacje_o_filmie.rezyser}`)
                br
                label(for='kraj_produkcji_filmu') Kraj/kraje produkcji:
                br
                input#kraj_produkcji_filmu(type='text' name='kraj_produkcji' value=`${movie.informacje_o_filmie.kraj_produkcji}`)
                br
                label(for='ocena_filmweb_filmu') Ocena na filmwebie:
                br
                input#ocena_filmweb_filmu(type='text' name='ocena_na_filmwebie' value=`${movie.informacje_o_filmie.ocena_na_filmwebie}` min='0' max='100')
                br
                label(for='ocena_rotten_filmu') Ocena na Rotten Tomatoes:
                br
                input#ocena_rotten_filmu(type='number' name='ocena_rotten_tomatoes' value=`${movie.informacje_o_filmie.ocena_rotten_tomatoes._}` 
                min='0' max='100')
                br
                label(for='ocena_osobista_filmu') Ocena osobista:
                br
                input#ocena_osobista_filmu(type='text' name='ocena_osobista' value=`${movie.informacje_o_filmie.ocena_osobista}`)
                br
                label(for='box_office_filmu') Box office:
                br
                input#box_office_filmu(type='number' name='box_office' min='100000' max='2147483647' value=`${movie.informacje_o_filmie.box_office._}`)
                br
                label(for='liczba_oscarow_filmu') Liczba oscarów:
                br
                input#liczba_oscarow_filmu(type='number' name='liczba_oscarow' value=`${movie.informacje_o_filmie.liczba_oscarow}` oninput='modifyOscarList()' min='1' max='25')
                br
                label(for='format_filmu') Format obrazu:
                br
                input#format_filmu(type='text' name='format_obrazu' value=`${movie.informacje_o_filmie.format_obrazu}`)
                br
                label(for='data_global_filmu') Data premiery globalna:
                br
                input#data_global_filmu(type='text' name='data_global_filmu' value=`${movie.informacje_o_filmie.daty_premiery.data_premiery[0]._}`)
                br
                label(for='data_pl_filmu') Data premiery polska:
                br
                input#data_pl_filmu(type='text' name='data_pl_filmu' value=`${movie.informacje_o_filmie.daty_premiery.data_premiery[1]._}`)
                br
                label(for='oscars') Lista oscarów, które zdobył film:
                #oscars
                    each oscar in movie.informacje_o_filmie.lista_oscarow.oscar
                        input(type='text' name='oscar' value=`${oscar}`)
                        br
                input(type='submit' value='Zapisz modyfikację')
                button(type='button' onClick=`document.location.href='/moviecollection'`) Anuluj zmiany